/*--- Agents Section --*/
.agents {
	margin-top: 3%;
}

.agents img {
  width: 90%;
  border-radius: 30%;
  margin-top: -12%;
}
.text {
  line-height: 100%;
  font-size: 14px;
  text-transform: uppercase;
  overflow: auto;

}
.agents-hr {
  border-top: .05rem solid #3ca4f9;
}
